.logo {
    height: 30px;
}
/* General styling for the app */
.header123 {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    
    height: 10vh;
    flex-direction: column;
  }