button {
    padding: 8px 12px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
}

.display-btn {
    background-color: #4CAF50;
    color: white;
}

.collapse-btn {
    background-color: #f44336;
    color: white;
}

/* Task List Container */
.tasklist-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
}

.tasklist-title {
    display: inline;
    font-size: 20px;
    margin-right: 10px;
}

/* Task List */
.tasklist {
    list-style-type: none;
    padding: 0;
}

.task-item {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

.task-item.completed .task-name {
    text-decoration: line-through;
    color: gray;
}

.task-item.notCompleted .task-name {
    color: #333;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #e53935;
}
